extends ../layouts/layout.pug

block styles
  link(rel="stylesheet" href="/public/stylesheets/auth.css")

block sidebar
  // No sidebar for register page

block navbar
  // No navbar for register page

block content
  .auth-container
    h2 Register
    form(id="registerForm")
      .row 
        .col-6.col-md-6.col-sm-12
          .form-group
            label(for="firstName") First Name:
            input#firstName(type="text" name="firstName" required)
        .col-6.col-md-6.col-sm-12
          .form-group
            label(for="lastName") Last Name:
            input#lastName(type="text" name="lastName" required)
      .form-group
        label(for="email") Email:
        input#email(type="email" name="email" required)
      .form-group
        label(for="phoneNumber") Phone Number:
        input#phoneNumber(type="tel" name="phoneNumber" required)
      .form-group
        label(for="password") Password:
        input#password(type="password" name="password" required)
      .form-group
        label(for="confirmPassword") Confirm Password:
        input#confirmPassword(type="password" name="confirmPassword" required)
      .form-group
        button(type="submit") Register
    p
      | Already have an account? 
      a(href="/users/login-page") Login here.
