nav#sidebar
  .sidebar-header#sidebar-title 
    h3
      i.fa-solid.fa-bolt
      |  Manager
    strong
      i.bi.bi-list

  ul.list-unstyled.components
    li(class=(activeClass === 'Home' ? 'active' : ''))
      a(href="/") 
        i.bi.bi-house-door-fill
        | Home
    li(class=(activeClass === 'Edit' ? 'active' : ''))
      a(href="#") 
        i.bi.bi-pencil-square
        | Edit
    li(class=(activeClass === 'Search' ? 'active' : ''))
      a(href="#") 
        i.bi.bi-search
        | Search
    li(class=(activeClass === 'Users' ? 'active' : ''))
      a(href="#") 
        i.bi.bi-list-ul
        | Users
    li(class=(activeClass === 'Device Page' ? 'active' : ''))
      a(href="/devices/page") 
        i.bi.bi-clipboard-data
        | Data

  script.
    const sidebarTitleEl = document.getElementById('sidebar-title');
    const sidebarEl = document.getElementById('sidebar');
    sidebarTitleEl.addEventListener('click', function () {
      sidebarEl.classList.toggle('active');
    });