nav#sidebar.active 
  .sidebar-header#sidebar-title 
    h3
      i.bi.bi-envelope-paper-heart-fill
      |  Manager
    strong
      i.bi.bi-list

  ul.list-unstyled.components
    li
      a(href="#") 
        i.bi.bi-house-door-fill
        | Home
    li
      a(href="#") 
        i.bi.bi-pencil-square
        | Edit
    li
      a(href="#") 
        i.bi.bi-house-door-fill
        | Search
    li
      a(href="#") 
        i.bi.bi-house-door-fill
        | Breed
    li
      a(href="#") 
        i.bi.bi-house-door-fill
        | Data