extends ../layouts/layout.pug

block styles
  link(rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css")
  link(rel="stylesheet" href="/public/stylesheets/style.css")
  link(rel="stylesheet" href="/public/stylesheets/dataSearch.css")

block content
  .search-container
    .form__control 
      form(action="/getHistory" method="POST")
        .form__group
          label(for="deviceId") Device ID:
          input(type="text" id="deviceId" name="deviceId" placeholder="Enter Device ID" required)
        .form__group
          lebel(for="week") Week:
          select(id="week" name="week")
            option(value="Week 1") Week 1
            option(value="Week 2") Week 2
            option(value="Week 3") Week 3
            option(value="Week 4") Week 4
          label(for="month") Month:
          select(id="month" name="month")
            option(value="January") January
            option(value="February") February
            option(value="March") March
            option(value="April") April
            option(value="May") May
            option(value="June") June
            option(value="July") July
            option(value="August") August
            option(value="September") September
            option(value="October") October
            option(value="November") November
            option(value="December") December
          //- label(for="year") Year:
          //- select(id="year" name="year")
          //-   each year in [2020, 2021, 2022, 2023]
          //-     option(value=year) #{year}

        .form__group.fill__time
          label(for="startDate") Start Date:
          input(type="date" id="startDate" name="startDate")
          label(for="endDate") End Date:
          input(type="date" id="endDate" name="endDate")

        button(type="submit") Search
    .measurement__content
      .chart__container 
        .item-1.item 
          canvas#chart1
        .item-2.item
          canvas#chart2
        .item-3.item
          canvas#chart3
        .item-4.item  
          canvas#chart4
        .item-5.item
          #map(style="height: 100%;")

block scripts
  script.
    const mapboxAccessToken = !{JSON.stringify(mapboxToken)};

  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script(src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js")
  script(src="https://cdn.socket.io/4.8.1/socket.io.min.js")
  script(src="/public/javascripts/searchData.js")
  script(src="/public/javascripts/mapbox.js" defer type="module")
